<script type="text/javascript">
    $(document).ready(function(){
        $('#composition-likes').click(function() {
        var catid;
        catid = $(this).attr("data-catid");
         $.get('{% url 'corpse:composition_like' composition.pk %}', {category_id: catid}, function(data) {
                   $('#like_count').html(data);
                   $('#likes').hide();
               });

        $('#composition-favorites').click(function() {
        var catid;
        catid = $(this).attr("data-catid");
         $.get('{% url 'corpse:composition_favorite' composition.pk %}', {category_id: catid}, function(data) {
                   $('#favorite_count').html(data);
                   $('#favorites').hide();
               });
    });
</script>

<div class="btn-group pull-right">
  {% if user.is_authenticated %}
      <a href="#" class="btn btn-default" id="like-btn">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ composition.likes.count }} Likes
      </a>
      <a href="" class="btn btn-default" id="favorite-btn">
        {% if request.user in composition.favorites.all %}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Unfavorite
        {% else %}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Favorite
        {% endif %}
      </a>
  {% else %}
    <!-- Disable buttons -- >
      <a href="#" class="btn btn-default disabled">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ composition.likes.count }} Likes
      </a>
      <a href="" class="btn btn-default disabled">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Favorite
      </a>
  {% endif %}
</div>
<br>
<br>
<center><h3>{{ composition.title|title }}</h3></center>
<br>
{% for part in composition.part_set.all|dictsort:'created' %}
  <p>{{ part.text }}</p>
{% endfor %}
