{% extends 'exquisitecorpse/base.html' %}
  {% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'exquisitecorpse/css/dashboard.css' %}">
  {% endblock %}

  {% block container_block %}
    <h1>In Progress</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Players</th>
          </tr>
        </thead>
        <tbody>
          {% for composition in compositions %}
            <tr class="clickable-row" data-href="/compositions/{{ composition.id }}">
              <td>{{ composition.title }}</td>
              <td>{{ composition.owner.username }}</td>
              <td>{{ composition.users.count }}</td>
            </tr>
          {% empty %}
            <!-- no entries, show placeholder-->
          {% endfor %}
        </tbody>
      </table>

    <h1>Completed</h1>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Players</th>
          </tr>
        </thead>
        <tbody>
          {% for composition in compositions %}
            <tr class="clickable-row" data-href="/compositions/{{ composition.id }}">
              <td>{{ composition.title }}</td>
              <td>{{ composition.owner.username }}</td>
              <td>{{ composition.users.count }}</td>
            </tr>
          {% empty %}
            <!-- no entries, show placeholder-->
          {% endfor %}
        </tbody>
      </table>

  {% endblock %}
