{% extends 'exquisitecorpse/base.html' %}
{% block container_block %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Josh</strong> likes <a href="{% url 'corpse:composition_details' 21 %}" class="alert-link">Composition Name</a>
    </div>

    {% url 'corpse:dashboard' 'queued' as queued_url %}
    {% url 'corpse:dashboard' 'active' as active_url %}
    {% url 'corpse:dashboard' 'completed' as completed_url %}
    {% url 'corpse:dashboard' 'favorites' as favorites_url %}
    <ul class="nav nav-pills">
      <li role="presentation" {% if request.get_full_path == queued_url %}class="active"{% endif %}>
          <a href="{{ queued_url }}">Queued <span class="badge">{{ queued_count }}</span></a>
      </li>
      <li role="presentation" {% if request.get_full_path == active_url %}class="active"{% endif %}>
          <a href="{{ active_url }}">Active <span class="badge">{{ active_count }}</span></a>
      </li>
      <li role="presentation" {% if request.get_full_path == completed_url %}class="active"{% endif %}>
          <a href="{{ completed_url }}">Completed <span class="badge">{{ completed_count }}</span></a>
      </li>
      <li role="presentation" {% if request.get_full_path == favorites_url %}class="active"{% endif %}>
          <a href="{{ favorites_url }}">Favorites <span class="badge">{{ favorite_count }}</span></a>
      </li>
    </ul>

    <br>
    <div class="list-group">
    {% for composition in compositions %}
        {% if request.get_full_path == queued_url %}
        {% elif request.get_full_path == active_url %}
        {% elif request.get_full_path == completed_url or request.get_full_path == favorites_url %}
            {% include 'exquisitecorpse/composition_list_item.html' %}
        {% endif %}
    {% empty %}
    <!-- no entries, show placeholder-->
    <center><h1><small>(No items available)</small></h1></center>
    {% endfor %}
    </div>
{% endblock %}
