    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ part.owner.username }}
        </h4>
        <a href="#" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</a>
      </div>
      <div class="panel-body">
        {{ part.text }}
      </div>
        {% if part.segue %}
          <div class="panel-footer">
              {{ part.segue }}
          </div>
        {% endif %}
    </div>

