<script type="text/javascript">
    $(document).ready(function() {
        $(".likes").click(function(e) {
            e.preventDefault();
            var pk = $(this).attr("data-pk");
            var data = {
                "pk": pk
            }
            $.ajax({
                "type": "POST",
                "dataType": "json",
                "url": "{% url 'corpse:part_like' %}",
                "data": data,
                "success": function(result) {
                    //console.log(result["likes"]);
                    $("#like-count-" + pk).html(result["count"]);
                    if (result["exists"]) {
                        $("#like-icon-" + pk).removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
                    } else {
                        $("#like-icon-" + pk).removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");
                    }

                },
            });
        });
    });
</script>
{% csrf_token %}
{% for part in composition.part_set.all|dictsort:'created' %}
    {% include 'exquisitecorpse/part_list_item.html' %}
{% endfor %}